.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content__title {
    font-size: 28px;
    font-family: 'Silkscreen', cursive;
    text-transform: uppercase;
    text-align: center;
}

.sub_title {
    margin: 20px;
}
